flows.json
[{"id":"90a02abe.4dcfa8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c905659c.506508","type":"ui_form","z":"90a02abe.4dcfa8","name":"","label":"","group":"ed675d3b.443bc","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":210,"y":300,"wires":[["cf286657.2ec2e8","b9d3e148.f5e22"]]},{"id":"cf286657.2ec2e8","type":"debug","z":"90a02abe.4dcfa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":220,"wires":[]},{"id":"b9d3e148.f5e22","type":"function","z":"90a02abe.4dcfa8","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.emailid,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":360,"wires":[["db98bcac.1cde4"]]},{"id":"b44011dc.dd75","type":"ui_form","z":"90a02abe.4dcfa8","name":"","label":"","group":"15d79ed7.e92a81","order":0,"width":0,"height":0,"options":[{"label":"Enter email id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":560,"wires":[["d02584cd.bfcd98"]]},{"id":"d02584cd.bfcd98","type":"function","z":"90a02abe.4dcfa8","name":"","func":"global.set('emailid',msg.payload.emailid);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":560,"wires":[["4c089606.7668f8"]]},{"id":"4c089606.7668f8","type":"function","z":"90a02abe.4dcfa8","name":"","func":"var Email=global.get('emailid');\n\nmsg.payload=\"emailid:\"+Email;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":560,"wires":[["b1092c82.e213d"]]},{"id":"b1092c82.e213d","type":"cloudant in","z":"90a02abe.4dcfa8","name":"","cloudant":"","database":"sample","service":"node-red-rteuy-2020--cloudant-1597448205235-14726","search":"_idx_","design":"user","index":"user","x":620,"y":560,"wires":[["6800ffb5.550fd"]]},{"id":"6800ffb5.550fd","type":"function","z":"90a02abe.4dcfa8","name":"","func":"if(msg.payload.password===global.get('password')){\n    msg.payload='Login Successful';\n}\nelse{\n    msg.payload='Login failed';\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":560,"wires":[["9250e522.cedf88","d1ccecc8.449ff"]]},{"id":"9250e522.cedf88","type":"debug","z":"90a02abe.4dcfa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":560,"wires":[]},{"id":"db98bcac.1cde4","type":"cloudant out","z":"90a02abe.4dcfa8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-rteuy-2020--cloudant-1597448205235-14726","payonly":true,"operation":"insert","x":770,"y":360,"wires":[]},{"id":"d1ccecc8.449ff","type":"ui_text","z":"90a02abe.4dcfa8","group":"15d79ed7.e92a81","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":620,"wires":[]},{"id":"691f43.13a9c0bc","type":"ui_form","z":"90a02abe.4dcfa8","name":"","label":"","group":"e23dfb1c.487c78","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":700,"wires":[["5077d2fc.e7020c"]]},{"id":"5077d2fc.e7020c","type":"function","z":"90a02abe.4dcfa8","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":720,"wires":[["2b07e9bd.8921b6"]]},{"id":"2b07e9bd.8921b6","type":"watson-conversation-v1","z":"90a02abe.4dcfa8","name":"","workspaceid":"d326742d-d094-489e-bfd9-142112db891d","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e1e17bd4-1dd2-49c9-815c-f0cef0619ca5","timeout":"","optout-learning":false,"x":510,"y":720,"wires":[["1339040b.9a7d0c","3efbabbf.892934"]]},{"id":"36b48db7.2697a2","type":"ui_text","z":"90a02abe.4dcfa8","group":"e23dfb1c.487c78","order":1,"width":"6","height":"7","name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":740,"wires":[]},{"id":"1339040b.9a7d0c","type":"debug","z":"90a02abe.4dcfa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":620,"wires":[]},{"id":"3efbabbf.892934","type":"function","z":"90a02abe.4dcfa8","name":"","func":"msg.payload=msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":800,"wires":[["36b48db7.2697a2","da24670d.0256e8"]]},{"id":"da24670d.0256e8","type":"ui_audio","z":"90a02abe.4dcfa8","name":"","group":"e23dfb1c.487c78","voice":"","always":"","x":990,"y":840,"wires":[]},{"id":"ed675d3b.443bc","type":"ui_group","z":"","name":"Reg form","tab":"5a1b7955.1c02b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"15d79ed7.e92a81","type":"ui_group","z":"","name":"login form","tab":"23e9698f.8b0d16","order":1,"disp":true,"width":"6","collapse":false},{"id":"e23dfb1c.487c78","type":"ui_group","z":"","name":"bot","tab":"9e4bca91.6f8ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a1b7955.1c02b8","type":"ui_tab","z":"","name":"registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"23e9698f.8b0d16","type":"ui_tab","z":"","name":"login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e4bca91.6f8ef8","type":"ui_tab","z":"","name":"customerhelp","icon":"dashboard","disabled":false,"hidden":false}]